In [1]:
import pandas as pd
import os

In [2]:
input_csv_dir = '../input/csv'
input_pickle_dir = '../input/pickle'

for path, subdirs, files in os.walk(input_csv_dir):
    for name in files:
        df_name = name.split('.')[1] #get df name from filename
        df = pd.read_csv(os.path.join(path, name))        
        df.to_pickle(os.path.join(input_pickle_dir, df_name))

In [7]:
os.listdir(input_pickle_dir)

['Alerts',
 'csv',
 'dP_siteSummarised',
 'iP_Summarised',
 'mP_Summarised',
 'MTP_WF003_05_Visualise Baseline Plan_ShiftData',
 'sP_portSummarisedCofill',
 'sP_portSummarisedIH',
 'sP_portSummarisedIHLineLoading']

In [19]:
ET_BUCKDF = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_BUCKDF'))
ET_DEMAND = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_DEMAND'))
ET_LOCMAT = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_LOCMAT'))
ET_LOCPROD = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_LOCPROD'))
ET_PROMAT = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_PROMAT'))
ET_PROMO = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_PROMO'))
ET_PRORES = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_ET_PRORES'))

IT_ARCMAT = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_ARCMAT'))
IT_DEMAND = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_DEMAND'))
IT_LOCMAT = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_LOCMAT'))
IT_NOTDELI = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_NOTDELI'))
IT_PROCUR = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_PROCUR'))
IT_PROMO = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_PROMO'))
IT_RESOURC = pd.read_pickle(os.path.join(input_pickle_dir, 'tbl_Extract_APO_IT_RESOURC'))

#### ET Files are Optimiser input files

#### ET_BUCKDF

Contains the details of the bucket and the horizon of the run

FileName: Downloaded apo log user defined file name
VALFR: Valid From
VALTO: Valid To
BUCKE: String representation of time bucket

Currently all mid-term plan outputs are weekly 
we may want to review them as period (monthly) groupings.

In [20]:
ET_BUCKDF.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,VALFR,VALTO,BUCKE
0,1,Input_log_2020_09_24,ET_BUCKDF,dbo.tbl_Extract_APO_ET_BUCKDF,67457,737753,737759,20201123->20201129
1,2,Input_log_2020_09_24,ET_BUCKDF,dbo.tbl_Extract_APO_ET_BUCKDF,67458,737760,737766,20201130->20201206
2,3,Input_log_2020_09_24,ET_BUCKDF,dbo.tbl_Extract_APO_ET_BUCKDF,67459,737767,737773,20201207->20201213
3,4,Input_log_2020_09_24,ET_BUCKDF,dbo.tbl_Extract_APO_ET_BUCKDF,67460,737774,737780,20201214->20201220
4,5,Input_log_2020_09_24,ET_BUCKDF,dbo.tbl_Extract_APO_ET_BUCKDF,67461,737781,737787,20201221->20201227

#### ET_DEMAND

def: Contains the Demand per bucket. All the three Demand Class will be reflected in this Log


*check with Matt

DEMAN: Demand quantity in number of units *confirm from alteryx
DEMCL: Demand Class
DEMFX: Flag for using demand as constraint. Constrained Demand
LOCID: Location Identifier
MATID: Product Identifier (can be the base material or variance) 
PENGR: Penalty Cost Group (used by optimiser to direct prefereces)

In [21]:
ET_DEMAND.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCKE,DEMAN,DEMCL,DEMFX,LOCID,MATID,PENGR
0,1,Input_log_2020_09_24,ET_DEMAND,dbo.tbl_Extract_APO_ET_DEMAND,67540,20201123->20201129,74.0,20201207->20201213,o,22B,BE428201,0
1,2,Input_log_2020_09_24,ET_DEMAND,dbo.tbl_Extract_APO_ET_DEMAND,67541,20201130->20201206,76.0,20201207->20201213,o,22B,BE428201,0
2,3,Input_log_2020_09_24,ET_DEMAND,dbo.tbl_Extract_APO_ET_DEMAND,67542,20201207->20201213,76.0,20201207->20201213,o,22B,BE428201,0
3,4,Input_log_2020_09_24,ET_DEMAND,dbo.tbl_Extract_APO_ET_DEMAND,67543,20201214->20201220,84.0,20201207->20201213,o,22B,BE428201,0
4,5,Input_log_2020_09_24,ET_DEMAND,dbo.tbl_Extract_APO_ET_DEMAND,67544,20201221->20201227,83.0,20201207->20201213,o,22B,BE428201,0

#### ET_LOCMAT

Definition: Contains the Initial Stock present for the product at the locations. Also have the information about the Safety Stock Violation Cost (Per EA Per Day) and Storage Cost (Per EA Per Day) at each location

BUCFL: Ind.: Storage Costs per Day Storage Costs/Day <br>
CONIN: Handling Capacity Consumption (GR) <br>
CONOU: Handling Capacity Consumption (Gds Iss.) <br>
COSIN: Handling Costs (Goods Receipt) <br>
HCOST: Storage Costs Per Prod. <br>
LOCID: Location Id <br>
MATID: Material Id <br>
MAXFL: Indicator: Storage capacity active <br>
MAXST: Material Storage Capacity <br>
SSPEN: Penalty for not enough safety stock <br>
STOCK: Initial Warehouse Stock <br>
SUBID: SublocatID <br>

In [22]:
ET_LOCMAT.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCFL,CONIN,CONOU,COSIN,HCOST,LOCID,MATID,MAXFL,MAXST,SSPEN,STOCK,SUBID
0,1,Input_log_2020_09_24,ET_LOCMAT,dbo.tbl_Extract_APO_ET_LOCMAT,781667,X,0.0,0.0,0.0,0.1,GE_WILD,SE105670,o,0.0,10.0,0.0,GE_WILD
1,2,Input_log_2020_09_24,ET_LOCMAT,dbo.tbl_Extract_APO_ET_LOCMAT,781668,X,0.0,0.0,0.0,0.1,GE_WILD,SE105674,o,0.0,10.0,0.0,GE_WILD
2,3,Input_log_2020_09_24,ET_LOCMAT,dbo.tbl_Extract_APO_ET_LOCMAT,781669,X,0.0,0.0,0.0,0.1,GE_WILD,SE105831,o,0.0,10.0,0.0,GE_WILD
3,4,Input_log_2020_09_24,ET_LOCMAT,dbo.tbl_Extract_APO_ET_LOCMAT,781670,X,0.0,0.0,0.0,0.1,GE_WILD,SE105663,o,0.0,10.0,0.0,GE_WILD
4,5,Input_log_2020_09_24,ET_LOCMAT,dbo.tbl_Extract_APO_ET_LOCMAT,781671,X,0.0,0.0,0.0,0.1,GE_WILD,SE105669,o,0.0,10.0,0.0,GE_WILD

#### ET_LOCPROD

Definition: Contains the In-Transit and the safety Stock Quantity and also the Safety Stock number of days maintained at the location

FDIST: Aggregated Distribution Quantity <br>
FPROD: Fixed Production (Including In-Transits)<br>
FSUBST: Aggregated Substitution Quantity <br>
LOCID: location id <br>
MATID: material id <br> 
MAXST: Material Storage Capacity <br>
SAFTY: Safety Stock <br>
SAPEN: Penalty for not enough safety stock <br>
STPEN: Penalty for exceeding stock on hand <br>
SVTTY: Safety Days' Supply <br>

In [23]:
ET_LOCPROD.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCKE,FDIST,FPROD,FSUBST,LOCID,MATID,MAXST,SAFTY,SAPEN,STPEN,SVTTY
0,1,Input_log_2020_09_24,ET_LOCPROD,dbo.tbl_Extract_APO_ET_LOCPROD,802265,20201123->20201129,0.0,0.0,0.0,GE_WILD,SE105670,0.0,0.0,0.0,0.0,35.0
1,2,Input_log_2020_09_24,ET_LOCPROD,dbo.tbl_Extract_APO_ET_LOCPROD,802266,20201130->20201206,0.0,0.0,0.0,GE_WILD,SE105670,0.0,0.0,0.0,0.0,35.0
2,3,Input_log_2020_09_24,ET_LOCPROD,dbo.tbl_Extract_APO_ET_LOCPROD,802267,20201207->20201213,0.0,0.0,0.0,GE_WILD,SE105670,0.0,0.0,0.0,0.0,35.0
3,4,Input_log_2020_09_24,ET_LOCPROD,dbo.tbl_Extract_APO_ET_LOCPROD,802268,20201214->20201220,0.0,0.0,0.0,GE_WILD,SE105670,0.0,0.0,0.0,0.0,35.0
4,5,Input_log_2020_09_24,ET_LOCPROD,dbo.tbl_Extract_APO_ET_LOCPROD,802269,20201221->20201227,0.0,0.0,0.0,GE_WILD,SE105670,0.0,0.0,0.0,0.0,35.0

#### ET_PROMAT

Definition: Contains details about input products in the PPM and the Charge Quantity as Var Quantity

PROID: PPM ID <br>
BCKTO: End Date/Time <br>
FCONS: Fixed Input Quantity <br>
LOCID: Location ID <br>
MATID: Product ID <br>
OFSTO: Offset Mat. In/Out <br>
OUTIN: Variable Output(+) or Input(-) Quantity <br>

In [24]:
ET_PROMAT.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,PROID,BCKTO,FCONS,LOCID,MATID,OFSTO,OUTIN
0,1,Input_log_2020_09_24,ET_PROMAT,dbo.tbl_Extract_APO_ET_PROMAT,2347713,CCE_CC19_DE203091_PPM,738277,0.0,CCEG_GE,DE203084,0,-5000.0
1,2,Input_log_2020_09_24,ET_PROMAT,dbo.tbl_Extract_APO_ET_PROMAT,2347714,CCE_CC19_DE203091_PPM,738277,0.0,CCEG_GE,DE203091,0,10000.0
2,3,Input_log_2020_09_24,ET_PROMAT,dbo.tbl_Extract_APO_ET_PROMAT,2347715,CCE_CC19_DE203091_PPM,738277,0.0,CCEG_GE,DE203085,0,-5000.0
3,4,Input_log_2020_09_24,ET_PROMAT,dbo.tbl_Extract_APO_ET_PROMAT,2347716,MIC_MC01_FR463671_PPM,738277,0.0,MICL_RP,FR459926,0,-10000.0
4,5,Input_log_2020_09_24,ET_PROMAT,dbo.tbl_Extract_APO_ET_PROMAT,2347717,MIC_MC01_FR463671_PPM,738277,0.0,MICL_RP,FR463671,0,10000.0

#### ET_PROMO

Definition: Contains details about PPMs the Min Lot Size Resource used and the Production Cost

PROID: PPM ID<br>
BCKFR: Start Bucket Number<br>
BCKTO: End Bucket Number<br>
DISCR: Indicator: PPM Discretization Active<br>
DURAT: PPM Duration (in Days) minus 1<br> 
LOCID: Location ID<br>
MATID: Product ID<br>
MAXFL: Ind.: Max. size of production lot active<br> 
PCOST: Costs for Each PPM Run<br>
PMAXQ: Maximum Size of Production Lot<br>
PMINQ: Minimum Size of Production Lot<br>
RE: ??? <br>
RNDPR: Bucket offset for production<br>

In [25]:
ET_PROMO.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,PROID,BCKFR,BCKTO,DISCR,DURAT,LOCID,LOTSZ,MATID,MAXFL,PCOST,PMAXQ,PMINQ,RE,RNDPR
0,1,Input_log_2020_09_24,ET_PROMO,dbo.tbl_Extract_APO_ET_PROMO,2353285,CCE_CC19_DE203091_PPM,20201123->20201129,20220425->20220501,X,0,CCEG_GE,1.0,DE203091,X,0.0,99999999.0,1.0,05,1.0
1,2,Input_log_2020_09_24,ET_PROMO,dbo.tbl_Extract_APO_ET_PROMO,2353286,MIC_MC01_FR463671_PPM,20201123->20201129,20220425->20220501,X,0,MICL_RP,1.0,FR463671,X,0.0,99999999.0,1.0,05,1.0
2,3,Input_log_2020_09_24,ET_PROMO,dbo.tbl_Extract_APO_ET_PROMO,2353287,N61_6101_IS802961_PPM,20201123->20201129,20220425->20220501,X,0,N61,1.0,IS802961,X,0.0,99999999.0,1.0,05,1.0
3,4,Input_log_2020_09_24,ET_PROMO,dbo.tbl_Extract_APO_ET_PROMO,2353288,N61_6101_IS802701_PPM,20201123->20201129,20220425->20220501,X,0,N61,1.0,IS802701,X,0.0,99999999.0,1.0,05,1.0
4,5,Input_log_2020_09_24,ET_PROMO,dbo.tbl_Extract_APO_ET_PROMO,2353289,N61_6101_IS802706_PPM,20201123->20201129,20220425->20220501,X,0,N61,1.0,IS802706,X,0.0,99999999.0,1.0,05,1.0

#### ET_PRORES

Definition: Contains details about the time required to produce the charge Quantity and also has the resource on which the production will happen

PROID:	PPM ID<br>
BCKTO:	End Date/Time<br>
FCONS:	Fixed Capacity Consumption<br>
OFSTO:	Time Offset Capacity Consumption<br>
RESID:	ResourceID<br>
VCONS:  Variable capacity consumption<br>

In [26]:
ET_PRORES.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,PROID,BCKTO,FCONS,OFSTO,RESID,VCONS
0,1,Input_log_2020_09_24,ET_PRORES,dbo.tbl_Extract_APO_ET_PRORES,2358176,CCE_CC19_DE203091_PPM,738277,0.0,0,CCE_CC19_FILLER,36000.0
1,2,Input_log_2020_09_24,ET_PRORES,dbo.tbl_Extract_APO_ET_PRORES,2358177,MIC_MC01_FR463671_PPM,738277,0.0,0,MIC_MC01_FILLER,36000.0
2,3,Input_log_2020_09_24,ET_PRORES,dbo.tbl_Extract_APO_ET_PRORES,2358178,N61_6101_IS802961_PPM,737871,0.0,0,N61_6101_FILLER,20098.8
3,4,Input_log_2020_09_24,ET_PRORES,dbo.tbl_Extract_APO_ET_PRORES,2358179,N61_6101_IS802961_PPM,738277,0.0,0,N61_6101_FILLER,20098.8
4,5,Input_log_2020_09_24,ET_PRORES,dbo.tbl_Extract_APO_ET_PRORES,2358180,N61_6101_IS802701_PPM,737871,0.0,0,N61_6101_FILLER,30996.0

In [ ]:
### IT_ tables are the output tables from SAP APO

#### IT_ARCMAT

Definition:  Contains the details of the total Stock transfer happened to ABDH <br>
    
VALFR: <br>
VALTO: <br>
AMACO: <br>
ARCID: <br>
MATID: <br>
REDTR: <br>
RPHIET: <br>
RPRID: <br>
RPVFR: <br> 
TRANS: <br>

In [27]:
IT_ARCMAT.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,VALFR,VALTO,AMACO,ARCID,MATID,REDTR,RPHIET,RPRID,RPVFR,TRANS
0,1,Results_log_2020_09_24,IT_ARCMAT,dbo.tbl_Extract_APO_IT_ARCMAT,700425,737753,737753,24496.3,16B->15N:0001,NL381188,0.0,0,o,0,8447.0
1,2,Results_log_2020_09_24,IT_ARCMAT,dbo.tbl_Extract_APO_IT_ARCMAT,700426,737760,737760,19090.7,16B->15N:0001,NL381188,0.0,0,o,0,6583.0
2,3,Results_log_2020_09_24,IT_ARCMAT,dbo.tbl_Extract_APO_IT_ARCMAT,700427,737767,737767,12519.3,16B->15N:0001,NL381188,0.0,0,o,0,4317.0
3,4,Results_log_2020_09_24,IT_ARCMAT,dbo.tbl_Extract_APO_IT_ARCMAT,700428,737774,737774,10010.8,16B->15N:0001,NL381188,0.0,0,o,0,3452.0
4,5,Results_log_2020_09_24,IT_ARCMAT,dbo.tbl_Extract_APO_IT_ARCMAT,700429,737781,737781,15320.7,16B->15N:0001,NL381188,0.0,0,o,0,5283.0

#### IT_DEMAND

Definition: Contains the details of the Demand met for the bucket in that location. Demand delayed is also visible in this log <br>
    
BUCKE: <br>
DELAY: <br>
DELIV: <br>
DEMCL: <br>
LDECO: <br>
LOCID: <br>
MATDL: <br>
MATID: <br>
PENGR: <br>
REDDD: <br>
SHADD: <br>

In [28]:
IT_DEMAND.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCKE,DELAY,DELIV,DEMCL,LDECO,LOCID,MATDL,MATID,PENGR,REDDD,SHADD
0,1,Results_log_2020_09_24,IT_DEMAND,dbo.tbl_Extract_APO_IT_DEMAND,1408222,20201123->20201129,0,74.0,20201207->20201213,0.0,22B,BE428201,BE428201,0,0.0,0.0
1,2,Results_log_2020_09_24,IT_DEMAND,dbo.tbl_Extract_APO_IT_DEMAND,1408223,20201130->20201206,0,76.0,20201207->20201213,0.0,22B,BE428201,BE428201,0,0.0,0.0
2,3,Results_log_2020_09_24,IT_DEMAND,dbo.tbl_Extract_APO_IT_DEMAND,1408224,20201207->20201213,0,76.0,20201207->20201213,0.0,22B,BE428201,BE428201,0,0.0,0.0
3,4,Results_log_2020_09_24,IT_DEMAND,dbo.tbl_Extract_APO_IT_DEMAND,1408225,20201214->20201220,0,84.0,20201207->20201213,0.0,22B,BE428201,BE428201,0,0.0,0.0
4,5,Results_log_2020_09_24,IT_DEMAND,dbo.tbl_Extract_APO_IT_DEMAND,1408226,20201221->20201227,0,83.0,20201207->20201213,0.0,22B,BE428201,BE428201,0,0.0,0.0

#### IT_LOCMAT

Definition: Contains the details of the Storage Cost and the Safety Stock Violation Cost <br>

ADSTO: <br>
BUCKE: <br>
HANDM: <br>
LOCID: <br>
MATID: <br>
REDHM: <br>
REDST: <br>
SHASF: <br>
SHAST: <br>
STOCK: <br>
VIOSF: <br>

In [29]:
IT_LOCMAT.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,ADSTO,BUCKE,HANDM,LOCID,MATID,REDHM,REDST,SHASF,SHAST,STOCK,VIOSF
0,1,Results_log_2020_09_24,IT_LOCMAT,dbo.tbl_Extract_APO_IT_LOCMAT,18,0.0,20201123->20201129,0.0,22B,BE428201,0.0,0.0,0.0,0.0,389.0,0.0
1,2,Results_log_2020_09_24,IT_LOCMAT,dbo.tbl_Extract_APO_IT_LOCMAT,19,0.0,20201130->20201206,0.0,22B,BE428201,0.0,0.0,0.0,0.0,381.0,0.0
2,3,Results_log_2020_09_24,IT_LOCMAT,dbo.tbl_Extract_APO_IT_LOCMAT,20,0.0,20201207->20201213,0.0,22B,BE428201,0.0,0.0,0.0,0.0,368.0,0.0
3,4,Results_log_2020_09_24,IT_LOCMAT,dbo.tbl_Extract_APO_IT_LOCMAT,21,0.0,20201214->20201220,0.0,22B,BE428201,0.0,0.0,0.0,0.0,345.0,0.0
4,5,Results_log_2020_09_24,IT_LOCMAT,dbo.tbl_Extract_APO_IT_LOCMAT,22,0.0,20201221->20201227,0.0,22B,BE428201,0.0,0.0,0.0,0.0,323.0,0.0

#### IT_NOTDELI

Definition: Contains the details of the Demand unmet for the bucket in that location.<br>
    
BUCKE: <br>
DEMCL: <br>
LOCID: <br>
MATID: <br>
NDECO: <br>
NOTDE: <br>
PENGR: <br>
REDND: <br>
SHAND: <br>

In [30]:
IT_NOTDELI.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCKE,DEMCL,LOCID,MATID,NDECO,NOTDE,PENGR,REDND,SHAND
0,1,Results_log_2020_09_24,IT_NOTDELI,dbo.tbl_Extract_APO_IT_NOTDELI,2047732,20211129->20211205,20201207->20201213,32B,BE457695,10000.0,1.000,0,0.0,0.0
1,2,Results_log_2020_09_24,IT_NOTDELI,dbo.tbl_Extract_APO_IT_NOTDELI,2047733,20210301->20210307,20201207->20201213,32B,BE380146,10000.0,1.000,0,0.0,0.0
2,3,Results_log_2020_09_24,IT_NOTDELI,dbo.tbl_Extract_APO_IT_NOTDELI,2047734,20201123->20201129,20201207->20201213,41B,BE425192,10000.0,1.000,0,0.0,0.0
3,4,Results_log_2020_09_24,IT_NOTDELI,dbo.tbl_Extract_APO_IT_NOTDELI,2047735,20210322->20210328,20201207->20201213,N61,IS803034,10000.0,1.000,0,0.0,0.0
4,5,Results_log_2020_09_24,IT_NOTDELI,dbo.tbl_Extract_APO_IT_NOTDELI,2047736,20201123->20201129,20201207->20201213,CCEG_GE,DE203068,2220.0,0.222,0,0.0,0.0

#### IT_PROCUR

Definition: <br>

BUCKE: <br>
LOCID: <br>
MATID: <br>
PRCCO: <br>
PROCU: <br>
REDPC: <br>

In [31]:
IT_PROCUR.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCKE,LOCID,MATID,PRCCO,PROCU,REDPC
0,1,Results_log_2020_09_24,IT_PROCUR,dbo.tbl_Extract_APO_IT_PROCUR,1407591,737753,32B,BE464873,122960000.0,6148.00,0.0
1,2,Results_log_2020_09_24,IT_PROCUR,dbo.tbl_Extract_APO_IT_PROCUR,1407592,737872,3PLD_RP,NL264937,5000.0,0.25,0.0
2,3,Results_log_2020_09_24,IT_PROCUR,dbo.tbl_Extract_APO_IT_PROCUR,1407593,737956,3PLD_RP,NL264937,5000.0,0.25,0.0
3,4,Results_log_2020_09_24,IT_PROCUR,dbo.tbl_Extract_APO_IT_PROCUR,1407594,738005,3PLD_RP,NL264937,5000.0,0.25,0.0
4,5,Results_log_2020_09_24,IT_PROCUR,dbo.tbl_Extract_APO_IT_PROCUR,1407595,738040,3PLD_RP,NL264937,5000.0,0.25,0.0

#### IT_PROMO

Definition: <br>
    
HENDDT:  <br>
PROCO: <br>
PRODU:	 <br>
PROID: <br>
REDPR: <br>
SEQID:	 <br>
SETUP: <br>
VALFR: <br>
VALTO: <br>

In [32]:
IT_PROMO.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,HENDDT,PROCO,PRODU,PROID,REDPR,SEQID,SETUP,VALFR,VALTO
0,1,Results_log_2020_09_24,IT_PROMO,dbo.tbl_Extract_APO_IT_PROMO,1197602,737753,0.0,0.1941,MIC_MC01_FR463671_PPM,0.0,0,X,737753,737753
1,2,Results_log_2020_09_24,IT_PROMO,dbo.tbl_Extract_APO_IT_PROMO,1197603,737760,0.0,0.0003,MIC_MC01_FR463671_PPM,0.0,0,X,737760,737760
2,3,Results_log_2020_09_24,IT_PROMO,dbo.tbl_Extract_APO_IT_PROMO,1197604,737774,0.0,0.0825,MIC_MC01_FR463671_PPM,0.0,0,X,737774,737774
3,4,Results_log_2020_09_24,IT_PROMO,dbo.tbl_Extract_APO_IT_PROMO,1197605,737781,0.0,0.0124,MIC_MC01_FR463671_PPM,0.0,0,X,737781,737781
4,5,Results_log_2020_09_24,IT_PROMO,dbo.tbl_Extract_APO_IT_PROMO,1197606,737788,0.0,0.0125,MIC_MC01_FR463671_PPM,0.0,0,X,737788,737788

#### IT_RESOURC

Definition: <br>
    
BUCKE: <br>
COUND: <br>
INICO: <br>
MAXRE: <br>
PRSCO: <br>
RESID: <br>
RESOU: <br>
SHARE: <br>
TOTCO: <br>
TOTPE: <br>

In [33]:
IT_RESOURC.head()

,RecordID,FileName,TableName,DB_TableName,DataRowID,BUCKE,COUND,INICO,MAXRE,PRSCO,RESID,RESOU,SHARE,TOTCO,TOTPE
0,1,Results_log_2020_09_24,IT_RESOURC,dbo.tbl_Extract_APO_IT_RESOURC,673573,20201123->20201129,0.0,0.0,481521.6,0.0,P20_2001_FILLER,481521.43872,0.0,481521.43872,99.999967
1,2,Results_log_2020_09_24,IT_RESOURC,dbo.tbl_Extract_APO_IT_RESOURC,673574,20201130->20201206,0.0,0.0,478522.8,0.0,P20_2001_FILLER,478522.70640,0.0,478522.70640,99.999980
2,3,Results_log_2020_09_24,IT_RESOURC,dbo.tbl_Extract_APO_IT_RESOURC,673575,20201207->20201213,0.0,0.0,469501.2,0.0,P20_2001_FILLER,469500.91776,0.0,469500.91776,99.999940
3,4,Results_log_2020_09_24,IT_RESOURC,dbo.tbl_Extract_APO_IT_RESOURC,673576,20201214->20201220,0.0,0.0,445410.0,0.0,P20_2001_FILLER,445409.55648,0.0,445409.55648,99.999900
4,5,Results_log_2020_09_24,IT_RESOURC,dbo.tbl_Extract_APO_IT_RESOURC,673577,20201221->20201227,0.0,0.0,246783.6,0.0,P20_2001_FILLER,246783.55968,0.0,246783.55968,99.999984

In [ ]:
# Linking Mapping Files

In [23]:
runrate = pd.read_csv('../input/metadata/runrate.csv')
material_snp_mapping = pd.read_csv('../input/metadata/material_snp_mapping.csv')
snp_portfolio_mapping = pd.read_csv('../input/metadata/snp_portfolio_mapping.csv')


material_portfolio = pd.merge(snp_portfolio_mapping, material_snp_mapping, on='SNPPL01', how='inner')
material_portfolio.head()

portfolio_runrate = pd.merge(material_portfolio, runrate, on='Material', how='inner')

portfolio_runrate = portfolio_runrate[['Line_Portfolio', 'Summary_Portfolio', 'SNPPL01', 'Material', 'Plant', 'Line', 'BaseUnitsPerHour']]

In [24]:
portfolio_runrate.head()

,Line_Portfolio,Summary_Portfolio,SNPPL01,Material,Plant,Line,BaseUnitsPerHour
0,Cans,Cans - Board,33CL CANS CARB - BOARD (IH),201467,5501,LN07,2500.000000
1,Cans,Cans - Board,33CL CANS CARB - BOARD (IH),201467,5502,LN01,2133.105802
2,Cans,Cans - Board,33CL CANS CARB - BOARD (IH),201467,5520,LNAS,10000.000000
3,Cans,Cans - Board,33CL CANS CARB - BOARD (IH),201468,5501,LN07,2500.000000
4,Cans,Cans - Board,33CL CANS CARB - BOARD (IH),201469,5501,LN07,2500.000000

In [28]:
portfolio_runrate.loc[portfolio_runrate.Line_Portfolio == 'Cans'].groupby(['Summary_Portfolio','SNPPL01','Plant','Line']).mean()

                                                               Material  \
Summary_Portfolio SNPPL01                     Plant Line
Cans - Board      33CL CANS CARB - BOARD (IH) 5501  LN07  312535.891566
                                              5502  LN01  312315.413793
                                                    LN02  336120.333333
                                                    LN05  313295.580247
                                              5520  LNAS  348682.666667
...                                                                 ...
Relentless        500ML RELENTLESS (IH)       5502  LN04  251317.100000
                                                    LN07  324545.209302
                                              5520  LNBL  437698.666667
                                                    LNDI  227200.000000
                                                    LNMR  227200.000000

                                                          BaseUnitsPerHour
Summary_Portfolio SNPPL01                     Plant Line
Cans - Board      33CL CANS CARB - BOARD (IH) 5501  LN07       5085.459778
                                              5502  LN01       3026.699963
                                                    LN02       1993.187115
                                                    LN05       2521.981097
                                              5520  LNAS      10000.000000
...                                                                    ...
Relentless        500ML RELENTLESS (IH)       5502  LN04       4217.531712
                                                    LN07       3824.862718
                                              5520  LNBL      10000.000000
                                                    LNDI      10000.000000
                                                    LNMR      10000.000000

[95 rows x 2 columns]

In [2]:
import pandas as pd
import numpy as np
import os

DEMAND_SHORTFALL_TRESHOLD = 10
INVENTORY_SHORTFALL_THRESHOLD = 5

csv_dir = '../input/csv'

dP_siteSummarised = pd.read_csv(os.path.join(csv_dir, 'dP_siteSummarised.csv')).round(2)


# Demand Shortfalls
demand_plan = dP_siteSummarised.loc[dP_siteSummarised.Uom == 'ZUC'].pivot(index=['Level2Region','Site_SAP','Year_Period','Summary_Portfolio', 'Uom'], \
                                      columns='KeyField')['Value'].reset_index()

demand_plan['demand_short_fall'] = -1*(demand_plan['Available'] - demand_plan['Total'])
demand_plan['demand_short_fall_pct'] = round((demand_plan['Available'] - demand_plan['Total'])*-100/ demand_plan['Available'])

demand_shortfalls = demand_plan.loc[demand_plan.demand_short_fall_pct > DEMAND_SHORTFALL_TRESHOLD] 

demand_shortfalls = demand_shortfalls[['Site_SAP', 'Summary_Portfolio', 'Year_Period', 'demand_short_fall']]
demand_shortfalls.columns = ['Demand_Site', 'Portfolio', 'Period', 'Additional_Units_Required']


# Inventory Shortfalls
pivot_cols = ['KeyField']
pivot_rows = ['Site_SAP', 'Summary_Portfolio', 'Year_Period']
value_col = ['Value']
agg_func = np.sum
filter_by = {'Uom': 'ZUC'}

iP_Summarised = pd.read_csv(os.path.join(csv_dir, 'iP_Summarised.csv')).round(2)

df = iP_Summarised[iP_Summarised.KeyField.isin(['ZUC_ClosingStockTarget', 'ZUC_StockVsTarget'])]

inventory_shortfalls = pd.pivot_table(df, values=value_col, index=pivot_rows, columns=pivot_cols, aggfunc=agg_func)

inventory_shortfalls = pd.DataFrame(inventory_shortfalls.to_records())

inventory_shortfalls.columns = [hdr.replace("('Value', '", "").replace("')", "") for hdr in inventory_shortfalls.columns]

inventory_shortfalls['inventory_shortfall_pct'] = round(inventory_shortfalls['ZUC_StockVsTarget']*-100 / inventory_shortfalls['ZUC_ClosingStockTarget'], 2)

inventory_shortfalls['inventory_shortfall'] = -1*inventory_shortfalls['ZUC_StockVsTarget']

inventory_shortfalls = inventory_shortfalls.loc[inventory_shortfalls.inventory_shortfall_pct > INVENTORY_SHORTFALL_THRESHOLD]

inventory_shortfalls = inventory_shortfalls[['Site_SAP', 'Summary_Portfolio', 'Year_Period', 'inventory_shortfall']]

inventory_shortfalls.columns = ['Inventory_Site', 'Portfolio', 'Period', 'Inventory_Units_Required']


# Conditional categories

In [57]:
shift_lever = pd.read_csv('../input/levers/shift_lever.csv') 
line_loading = pd.read_csv('../input/csv/sP_portSummarisedIHLineLoading.csv')

line_loading = line_loading[['Line_Portfolio', 'Site_SAP', 'Line', 'Year_Period']].drop_duplicates()
line_loading.columns = ['Portfolio', 'Site_SAP', 'Line', 'Period']

shift_lever = pd.merge(shift_lever, line_loading, on=['Site_SAP', 'Line', 'Period'])
shift_lever = pd.merge(shift_lever, demand_shortfalls, on=['Period', 'Portfolio'], how='left')
group_cols = shift_lever.columns.tolist()
shift_lever = pd.merge(shift_lever, inventory_shortfalls, on=['Period', 'Portfolio'], how='left')
shift_lever = shift_lever.fillna(0)

shift_lever = shift_lever.sort_values(by=['Site_SAP', 'Line', 'Period', 'Portfolio'])
shift_lever.head(10)

,Site_SAP,Line,Period,Weeks_WeeksInPeriod,Shift_Length,Shifts_In_Day,Shift_Days_In_Week,Hours_Overtime,Hours_Crew,Hours_UnCrewed,...,Hours_DownTime,Hours_SchedPDT,SafetyHours,Hours_TotalAvailable,Additional_Hours,Portfolio,Demand_Site,Additional_Units_Required,Inventory_Site,Inventory_Units_Required
0,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Aseptic,5502.0,10000.0,5506,7177.0
1,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Aseptic,5502.0,10000.0,5558,2070.0
2,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Oasis,0.0,0.0,5501,25605.0
3,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Oasis,0.0,0.0,5502,43697.0
4,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Oasis,0.0,0.0,5503,11509.0
5,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Oasis,0.0,0.0,5506,141357.0
6,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Oasis,0.0,0.0,5556,122.0
7,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.0,0.97,582.000,0,Oasis,0.0,0.0,5558,630.0
8,5501,LN03,2020_07,4,8,3,7,0,672,0,...,34,159.5,0.97,464.145,0,Aseptic,0.0,0.0,5501,3765.0
9,5501,LN03,2020_07,4,8,3,7,0,672,0,...,34,159.5,0.97,464.145,0,Aseptic,0.0,0.0,5502,6375.0

In [58]:
shift_lever['Inventory_Site'] = shift_lever['Inventory_Site'].astype(str)
shift_lever['Inventory_Units_Required'] = shift_lever['Inventory_Units_Required'].astype(int).astype(str)


shift_lever['Inventory_Site'] = shift_lever.groupby(group_cols)['Inventory_Site'].transform(lambda x : ', '.join(set(x))) 
shift_lever['Inventory_Units_Required'] = shift_lever.groupby(group_cols)['Inventory_Units_Required'].transform(lambda x : ', '.join(set(x)))

In [59]:
shift_lever

,Site_SAP,Line,Period,Weeks_WeeksInPeriod,Shift_Length,Shifts_In_Day,Shift_Days_In_Week,Hours_Overtime,Hours_Crew,Hours_UnCrewed,...,Hours_DownTime,Hours_SchedPDT,SafetyHours,Hours_TotalAvailable,Additional_Hours,Portfolio,Demand_Site,Additional_Units_Required,Inventory_Site,Inventory_Units_Required
0,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Aseptic,5502.0,10000.0,"5506, 5558","7177, 2070"
1,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Aseptic,5502.0,10000.0,"5506, 5558","7177, 2070"
2,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Oasis,0.0,0.0,"5556, 5502, 5506, 5501, 5558, 5503","630, 25605, 122, 141357, 11509, 43697"
3,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Oasis,0.0,0.0,"5556, 5502, 5506, 5501, 5558, 5503","630, 25605, 122, 141357, 11509, 43697"
4,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Oasis,0.0,0.0,"5556, 5502, 5506, 5501, 5558, 5503","630, 25605, 122, 141357, 11509, 43697"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,5506,LN02,2020_12,4,24,1,7,0,672,0,...,34,159.50,0.97,464.1450,0,LPET,0.0,0.0,0,0
316,5506,LN02,2021_01,4,24,1,7,0,672,0,...,34,159.50,0.97,464.1450,0,LPET,0.0,0.0,0,0
317,5506,LN02,2021_02,5,24,1,7,0,840,0,...,363,119.25,0.97,347.0175,0,LPET,0.0,0.0,0,0
318,5506,LN02,2021_03,5,24,1,7,0,840,0,...,51,197.25,0.97,573.9975,0,LPET,0.0,0.0,0,0
319,5506,LN02,2021_04,4,24,1,7,0,672,0,...,34,159.50,0.97,464.1450,0,LPET,0.0,0.0,0,0

In [60]:
shift_lever.drop_duplicates()

,Site_SAP,Line,Period,Weeks_WeeksInPeriod,Shift_Length,Shifts_In_Day,Shift_Days_In_Week,Hours_Overtime,Hours_Crew,Hours_UnCrewed,...,Hours_DownTime,Hours_SchedPDT,SafetyHours,Hours_TotalAvailable,Additional_Hours,Portfolio,Demand_Site,Additional_Units_Required,Inventory_Site,Inventory_Units_Required
0,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Aseptic,5502.0,10000.0,"5506, 5558","7177, 2070"
2,5501,LN03,2020_06,5,24,1,7,0,840,0,...,51,200.00,0.97,582.0000,0,Oasis,0.0,0.0,"5556, 5502, 5506, 5501, 5558, 5503","630, 25605, 122, 141357, 11509, 43697"
8,5501,LN03,2020_07,4,8,3,7,0,672,0,...,34,159.50,0.97,464.1450,0,Aseptic,0.0,0.0,"5506, 5502, 5558, 5501","6375, 10621, 2669, 3765"
12,5501,LN03,2020_07,4,8,3,7,0,672,0,...,34,159.50,0.97,464.1450,0,Oasis,0.0,0.0,"5506, 5502, 5558, 5501","7738, 39738, 26553, 463"
16,5501,LN03,2020_08,4,24,1,5,0,480,192,...,34,111.50,0.97,324.4650,0,Aseptic,0.0,0.0,"5506, 5558, 5501","1882, 3183, 7901"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,5506,LN02,2020_12,4,24,1,7,0,672,0,...,34,159.50,0.97,464.1450,0,LPET,0.0,0.0,0,0
316,5506,LN02,2021_01,4,24,1,7,0,672,0,...,34,159.50,0.97,464.1450,0,LPET,0.0,0.0,0,0
317,5506,LN02,2021_02,5,24,1,7,0,840,0,...,363,119.25,0.97,347.0175,0,LPET,0.0,0.0,0,0
318,5506,LN02,2021_03,5,24,1,7,0,840,0,...,51,197.25,0.97,573.9975,0,LPET,0.0,0.0,0,0
319,5506,LN02,2021_04,4,24,1,7,0,672,0,...,34,159.50,0.97,464.1450,0,LPET,0.0,0.0,0,0

In [67]:
inventory_shortfalls.loc[(inventory_shortfalls.Portfolio == 'Aseptic') 
                        &(inventory_shortfalls.Period.isin(['2020_06', '2020_07']))
                        ]

     Inventory_Site Portfolio   Period  Inventory_Units_Required
1              5501   Aseptic  2020_07                    3765.0
216            5502   Aseptic  2020_07                    6375.0
618            5506   Aseptic  2020_06                    7177.0
619            5506   Aseptic  2020_07                   10621.0
1013           5558   Aseptic  2020_06                    2070.0
1014           5558   Aseptic  2020_07                    2669.0

In [76]:
import math
math.floor(100 / len(inventory_shortfalls.loc[(inventory_shortfalls.Portfolio == 'Aseptic') 
                        &(inventory_shortfalls.Period.isin(['2020_06', '2020_07']))
                        ]))

16

In [73]:
sum(inventory_shortfalls.loc[(inventory_shortfalls.Portfolio == 'Aseptic') 
                        &(inventory_shortfalls.Period.isin(['2020_06', '2020_07']))
                        ]['Inventory_Units_Required'])

32677.0

In [6]:
import math

physics = a = [15, 12, 8,  8, 7, 7, 7, 6, 5, 3]
history = b = [10, 25, 17, 11, 13, 17, 20, 13, 9, 15]
n = len(a)

def pc(a,b):
    n = len(a)
    mean_a = sum(a)/n
    mean_b = sum(b)/n

    dev_a = map(lambda x: x - mean_a, a)
    dev_b = map(lambda x: x - mean_b, b)

    stddev_a = math.sqrt([x*x for x in dev_a] / (n-1))
    stddev_b = math.sqrt([x*x for x in dev_b] / (n-1))

In [10]:
mean_b = sum(b)/n
mean_b

15.0

In [14]:
[x - mean_a for x in a]

[7.2,
 4.2,
 0.20000000000000018,
 0.20000000000000018,
 -0.7999999999999998,
 -0.7999999999999998,
 -0.7999999999999998,
 -1.7999999999999998,
 -2.8,
 -4.8]

In [15]:
dev_a = map(lambda x: x - mean_a, a)
list(dev_a)

[7.2,
 4.2,
 0.20000000000000018,
 0.20000000000000018,
 -0.7999999999999998,
 -0.7999999999999998,
 -0.7999999999999998,
 -1.7999999999999998,
 -2.8,
 -4.8]

In [23]:
import math

physics = [15, 12, 8,  8, 7, 7, 7, 6, 5, 3]
history = [10, 25, 17, 11, 13, 17, 20, 13, 9, 15]


def pc(a,b):
    n = len(a)
    mean_a = sum(a)/n
    mean_b = sum(b)/n

    dev_a = map(lambda x: x - mean_a, a)
    dev_b = map(lambda x: x - mean_b, b)

    stddev_a = math.sqrt(sum([x*x for x in dev_a]) / (n-1))
    stddev_b = math.sqrt(sum([x*x for x in dev_b]) / (n-1))
    
    return (sum([a[i]*b[i] for i in range(n)]) - n*mean_a*mean_b) / ((n-1)*stddev_a*stddev_b)

print(round(pc(physics, history),3))

0.145